* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: url(../images/background.png);
}

/* HEADER */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

header img {
    display: flex;
    justify-content: flex-start;
    flex-shrink: inherit;
    position: fixed;
    max-width: 40%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: black;
    margin: 10px, 10px, 10px, 10px;
    z-index: 9998;
}

header a {
    text-decoration: none;
    color: black;
    margin: 10px, 10px, 10px, 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li {
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.55vw;
}

header nav ul li:hover {
    opacity: .75;
    text-shadow: black;
}

header nav ul li p:hover {
    display: block;
}

header nav ul li.nav {
    color: #fff;
    /* opacity: 0; */
}

header nav ul li.nav:hover {
    color: black;
    opacity: .75;
    font-style: italic;
}

/* HEADER END */

section {
    padding: 20px 40px 20px 40px;
    display: block;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    margin: auto;
}

section h2 {
    margin: auto;
    text-align: center;
    padding-bottom: .50%;
    font-style: italic;
    font-size: 3vw;
}

section h3 {
    font-style: bold;
    
}

footer div {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    padding: 1%;
    padding-bottom: 2%;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

footer img {
    max-width: 5%;
    margin: none;
}

footer p {
    text-align: right;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.side {
    font-style: italic;
    margin: auto;
}
.hero {
    background-image: url(../images/IMG_0365.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed, -120px;
    background-position: 100%;
}

.goodideas {
    position: relative;
    max-width: 40%;
    z-index: 9999;
    top: -90px;
    left: -10px;
}

/*content styles */
.flex1 {
    display: flex;
    flex-wrap: nowrap;
    width: 33%;
    justify-content: center;
    margin: auto;
}

.flex1 p {
    padding-left: 2%;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.white {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.25);
    clip-path: polygon(30% 0, 70% 0, 70% 100%, 30% 100%);
}


.contain {
    width: auto;
}

.self {
    max-width: 40%;
    max-height:100%;
}

/* images for work */
.flex2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.white2 {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.25);
    /* clip-path: polygon(30% 0, 70% 0, 70% 100%, 30% 100%); */
}

.firstimage {
    display: block;
    max-width: 95%;
    margin:auto;
}

.remainimage {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.remainimage img{
    margin: auto;
    display: inline-flex;
    align-items: center;
    max-width: 30%;
    align-content: center;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    justify-content: center;
}